:root {
	--gap: 15px;
	--column-width: 260px;
	--red: #fc0000;
	--blue: #0a6fe7;
	--green: #009f27;
}

html, body {
	width: 100%;
	min-height: 100vh;
	padding: 0;
	margin: 0;
	background-color: #d5fffe;
	overflow: auto;
}

.board {
	width: 100%;
	max-height: 100vh;
	padding: var(--gap);
	margin: 0;
	box-sizing: border-box;
	gap: var(--gap);
	display: flex;
	flex-direction: column;
	overflow: auto;
	position: relative;

	&__float {
		position: fixed;
		bottom: 30px;
		right: 30px;

		.column__button {
			width: 70px;
			height: 50px;
			border-radius: 50%;
		}
	}
}

.column {
	width: 100%;
	box-shadow: 0 5px 10px 1px #e5dfdf;
	flex: 1 0 var(--column-width);
	background-color: #f9f9f9;

	&__header {
		display: flex;
		justify-content: space-between;
		padding: var(--gap);
		width: 100%;
		box-sizing: border-box;
		align-items: center;
	}

	&__title {
		font-weight: bold;
	}

	&__button {
		cursor: pointer;
		border: 0;
		border-radius: 4px;
		color: white;
		padding: 0.45rem 0.65rem;
		font-weight: bold;

		&:active {
			transform: scale(0.9);
		}

		&--red {
			background-color: var(--red);
		}

		&--blue {
			background-color: var(--blue);
		}

		&--green {
			background-color: var(--green);
		}

		&--hover {
			background-color: transparent;
			color: #1f1f1f;

			&:hover {
				background-color: #d6dee1;
			}
		}

		&--block {
			display: block;
			flex: 1 1 100%;
			padding: 0.6rem;
		}

		&:disabled {
			opacity: 0.5;
			user-select: none;
			transform: scale(1);

			&:active {
				transform: scale(1);
			}
		}
	}

	&__content {
		padding: var(--gap);
		display: flex;
		height: calc(100% - 130px);
		overflow: auto;
		gap: var(--gap);
		flex-direction: column;
	}

	&:last-child {
		height: 28px;
		flex: none;

		.column__header {
			padding: 0;
		}

		.column__content {
			padding: 0.25rem;
		}
	}

	&--adding {
		height: 95px !important;
		transition: background 85ms ease-in, opacity 40ms ease-in, border-color 85ms ease-in;

		.column__content {
			height: auto;
		}
	}

	&__footer {
		display: flex;
		box-sizing: border-box;
		height: 40px;
		justify-content: center;
		align-items: center;
		width: 100%;
		padding: var(--gap);
	}
}

.form {
	width: 100%;
	display: block;
	box-sizing: border-box;

	&__group {
		padding: 0 0 0.5rem 0;
	}

	&__actions {
		padding: 0.5rem 0;
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	&__label {
		font-weight: bold;
		margin-bottom: .5rem;
	}

	&__input {
		width: 100%;
		box-sizing: border-box;
		padding: 0.35rem 0.5rem;
		border-radius: 4px;
		border: 1px solid #efefef;
		box-shadow: 0 2px 5px 2px #efefef;
		min-height: 40px;
		line-height: 1.1;
		font-size: 16px;

		&:active, &:focus {
			outline: 0;
		}
	}
}

.modal {
	display: block;
	gap: var(--gap);

	&__header, &__body, &__footer {
		padding: 0 var(--gap);
	}

	&__header {
		height: 40px;
		display: flex;
		align-items: center;
		box-sizing: border-box;
	}

	&__title {
		font-weight: bold;
		font-size: 1.2rem;
		text-align: center;
		width: 100%;
	}
}

.card {
	background-color: #ffffff;
	padding: 0 35px 0 var(--gap);
	width: 100%;
	box-sizing: border-box;
	border-radius: 4px;
	box-shadow: 0 2px 5px 2px #efefef;
	cursor: pointer;
	position: relative;

	&:before {
		content: "";
		position: absolute;
		top: 0;
		right: 0;
		width: 35px;
		height: 100%;
		cursor: move;
	}

	&__title {
		font-weight: bold;
		width: 100%;
		height: 100%;
		box-sizing: border-box;
		padding: var(--gap) 0;
	}
}

@media screen and (min-width: 600px) {
	html, body {
		overflow: hidden;
	}

	.board {
		flex-direction: row;

		&__float {
			bottom: 50px;
			right: 50px;

			.column__button {
				width: 80px;
				height: 60px;
			}
		}
	}

	.column {
		flex: 0 0 var(--column-width);
		width: var(--column-width);
	}
}

/* width */
::-webkit-scrollbar {
	width: 20px;
}

/* Track */
::-webkit-scrollbar-track {
	background-color: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
	background-color: #d6dee1;
	border-radius: 20px;
	border: 4px solid transparent;
	background-clip: content-box;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	background-color: #a8bbbf;
}